
<app-header title="Cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus distinctio aliquam sapiente tempora harum similique ut rem ducimus ab eum optio, provident at velit, sit neque ex sunt fugiat porro.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/solar-orbiter-toma-imagenes-del-sol-como-nunca-antes/9437612-1-esl-MX/Solar-Orbiter-toma-imagenes-del-Sol-como-nunca-antes.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus distinctio aliquam sapiente tempora harum similique ut rem ducimus ab eum optio, provident at velit, sit neque ex sunt fugiat porro.
    </ion-card-content>
  </ion-card>
</ion-content>
